*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

html,
body,
#root{
width:100%;
min-height:100%;
background:#020617;
}

body{
overflow-x:hidden;
}


/* ========== LOGIN SIGNUP ========== */


.auth-page{
height:100vh;
width:100%;
display:flex;
align-items:center;
justify-content:center;

background:
radial-gradient(circle at right,#35106d,#030712 45%);
}


.auth-box{
width:420px;
padding:40px;

background:rgba(15,23,42,.85);

border-radius:25px;

border:
1px solid rgba(255,255,255,.1);

box-shadow:
0 30px 80px #0008;

backdrop-filter:blur(20px);
}


.auth-box h1{
text-align:center;
font-size:42px;

background:
linear-gradient(90deg,#38bdf8,#ec4899);

-webkit-background-clip:text;

color:transparent;
}


.auth-box p{
color:#cbd5e1;
text-align:center;
margin:20px 0;
}


.auth-box input{
width:100%;
height:55px;

margin:12px 0;
padding:0 20px;

border:none;
outline:none;

border-radius:15px;

background:#1e293b;

color:white;
}


.auth-box button{
width:100%;
height:55px;

border:none;
border-radius:15px;

background:
linear-gradient(90deg,#2563eb,#ec4899);

color:white;

font-size:18px;
font-weight:bold;

cursor:pointer;
}


.auth-box a{
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}




/* ================= DASHBOARD ================= */


.shop-page{

min-height:100vh;

background:
linear-gradient(
135deg,
#020617,
#0f172a,
#111827
);

color:white;

}


/* NAV */


.shop-navbar{

height:90px;

padding:0 60px;

display:flex;
align-items:center;
justify-content:space-between;

position:relative;


background:
rgba(15,23,42,.9);


border-bottom:
1px solid #334155;

}


/* CENTER LOGO */


.shop-logo{

position:absolute;

left:50%;

transform:translateX(-50%);


font-size:34px;


background:
linear-gradient(
90deg,
#38bdf8,
#9333ea,
#ec4899
);


-webkit-background-clip:text;

color:transparent;

}



/* USER LEFT */


.shop-user{

position:relative;

}


.user-logo{

width:55px;
height:55px;

border-radius:50%;


display:flex;
align-items:center;
justify-content:center;


font-size:25px;

font-weight:bold;


background:
linear-gradient(
135deg,
#2563eb,
#ec4899
);


cursor:pointer;

}



.user-box{


position:absolute;


left:0;

top:70px;


width:280px;


padding:25px;


background:
rgba(15,23,42,.98);


border:
1px solid #334155;


border-radius:25px;


box-shadow:
0 30px 80px black;


opacity:0;

visibility:hidden;


transform:
translateY(15px);


transition:.3s;


z-index:100;

}



.shop-user:hover .user-box{

opacity:1;

visibility:visible;


transform:
translateY(0);

}



.big-user{


width:90px;

height:90px;


border-radius:50%;


margin:auto;


display:flex;

align-items:center;

justify-content:center;


font-size:40px;


background:
linear-gradient(
135deg,
#38bdf8,
#9333ea
);

}


.user-box h3{

text-align:center;

margin-top:15px;

}


.user-box p{

text-align:center;

color:#94a3b8;

margin-top:10px;

}



.user-box button{

width:100%;

padding:13px;

margin-top:20px;


border:none;

border-radius:30px;


background:
linear-gradient(
90deg,
#ef4444,
#f97316
);


color:white;


cursor:pointer;

}





/* CART RIGHT */


.cart-area{

position:relative;

}


.cart{

padding:13px 30px;


border-radius:30px;


background:#1e293b;


cursor:pointer;

}


.cart-box{


position:absolute;


right:0;


top:70px;


width:360px;


padding:25px;


background:#0f172a;


border-radius:25px;


border:
1px solid #334155;


opacity:0;


visibility:hidden;


transition:.3s;


z-index:100;

}



.cart-area:hover .cart-box{


opacity:1;

visibility:visible;

}




.small-cart{


display:flex;

align-items:center;


gap:15px;


background:#1e293b;


padding:12px;


border-radius:15px;


margin-top:15px;

}



.small-cart img{


width:65px;

height:55px;


object-fit:cover;


border-radius:10px;

}



.small-cart button{


margin-left:auto;


width:30px;

height:30px;


border:none;


border-radius:50%;


background:#ef4444;


color:white;


cursor:pointer;

}





/* SEARCH */


.search-box{

padding:35px;


display:flex;

justify-content:center;

}


.search-box input{


width:500px;


padding:15px 30px;


border-radius:40px;


background:#020617;


border:
1px solid #334155;


color:white;


outline:none;

}





/* HERO */


.shop-hero{


height:300px;


display:flex;

flex-direction:column;


align-items:center;


justify-content:center;



background:
radial-gradient(
circle,
#312e81,
#020617 70%
);

}



.shop-hero h1{

font-size:60px;

}


.shop-hero p{

color:#cbd5e1;

margin-top:15px;

}




/* PRODUCTS */


.products{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;


padding:50px;

}



.product-card{


width:290px;


padding:22px;


border-radius:25px;


background:#1e293b;


transition:.3s;

}


.product-card:hover{

transform:translateY(-12px);

}


.product-card img{


width:100%;

height:190px;


object-fit:cover;


border-radius:20px;

}


.product-card h3{

margin-top:18px;

}



.product-card h4{

color:#38bdf8;

margin-top:10px;

}



.product-card button{


width:100%;


padding:14px;


margin-top:20px;


border:none;


border-radius:30px;


background:
linear-gradient(
90deg,
#2563eb,
#9333ea
);


color:white;


cursor:pointer;

}